#loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 9990;
}

#loader-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* upload image start */
.upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed #c9b5ff;
    border-radius: 18px;
    background: linear-gradient(135deg, #faf8ff, #ffffff);
    padding: 40px;
    min-height: 250px;
}

.upload-left {
    width: 60%;
}

.upload-content {
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-icon {
    font-size: 65px;
    color: #a47bc8;
    margin-bottom: 15px;
}

.upload-content h5 {
    font-weight: 700;
    color: #222;
}

.upload-content p {
    color: #777;
    margin-bottom: 5px;
}

.upload-content small {
    color: #999;
}

.browse-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 25px;
    background: #969696;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

/* Right */
.preview-right {
    width: 35%;
    display: flex;
    justify-content: center;
}

.preview-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.preview-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.preview-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f4efff;
    border: 8px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .12);
    overflow: hidden;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.placeholder-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #ffffff;
}

.remove-image {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background: #ff3b5c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(255, 59, 92, .35);
    z-index: 10;
    cursor: pointer;
    transition: .2s ease;
}

.remove-image:hover {
    transform: scale(1.1);
}

/* Responsive */
@media(max-width:768px) {
    .upload-wrapper {
        flex-direction: column;
        gap: 30px;
    }

    .upload-left,
    .preview-right {
        width: 100%;
    }
}
